
<footer>
    <div class="grid-container grid mobile-center">
        <div class="col-2 p-b-md">
            <h6 class="p-b-sm">CONTACT</h6>
            <a href="#">1.800.123.4567</a>
            <a href="#">help@replay.com</a>
            <a href="#">FAQ's</a>
        </div>
        <div class="col-7 p-b-md">
            <h6 class="p-b-sm">SHOPPING</h6>
            <div class="grid">
                <div class="col-4 full">
                    <a href="#">Games</a>
                    <a href="#">Consoles</a>
                    <a href="#">Devices</a>
                    <a href="#">Games</a>
                    <a href="#">Consoles</a>
                </div>
                <div class="col-4 full">
                    <a href="#">Devices</a>
                    <a href="#">Games</a>
                    <a href="#">Consoles</a>
                    <a href="#">Devices</a>
                    <a href="#">Games</a>
                </div>
                <div class="col-4 full">
                    <a href="#">Consoles</a>
                    <a href="#">Devices</a>
                    <a href="#">Games</a>
                    <a href="#">Consoles</a>
                    <a href="#">Devices</a>
                </div>
            </div>
        </div>
        <div class="col-3 end social-links mobile-center">
            <a href="#"><img src="/assets/images/icon-facebook.svg" /></a>
            <a href="#"><img src="/assets/images/icon-instagram.svg" /></a>
            <a href="#"><img src="/assets/images/icon-twitter.svg" /></a>
            <a href="#"><img src="/assets/images/icon-youtube.svg" /></a>
        </div>
    </div>
    <hr />
    <div class="grid-container grid mobile-center p-b-sm">
        <div class="col-8 p-t-sm legal-links">
            <a href="#">Terms Of Use</a>
            <a href="#">Privacy Policy</a>
        </div>
        <div class="col-4 end mobile-center copyright p-t-sm">
            Copyright 2017 Replay.com, Inc.
        </div>
    </div>
</footer>