
<div class="side-cart">
    <div class="cart-title bkg-blue text-white">
        <i class="material-icons">shopping_cart</i>
        <span>Buying</span>
    </div>
    <div class="cart-title bkg-green text-white">
        <i class="material-icons">attach_money</i>
        <span>Selling</span>
    </div>

    <div class="grid-container full side-cart-bottom">
        <div class="grid">
            <div class="col-6 cart-buy-subtotal">Buying<br />Subtotal:</div>
            <div class="col-6 grid end middle" id="buy-subtotal">$123.45</div>
            <div class="col-12 divider"><div></div></div>
            <div class="col-6 cart-sell-subtotal">Selling<br />Subtotal:</div>
            <div class="col-6 grid end middle" id="sell-subtotal">$98.76</div>
            <div class="col-12">
                <button class="dark-blue">Keep Shopping</button>
            </div>
            <div class="col-12">
                <button class="green">View Cart & Check Out</button>
            </div>
        </div>
    </div>
</div>