
<div class="side-cart">
    <div class="cart-title bkg-blue text-white">
        <i class="material-icons">shopping_cart</i>
        <span>Buying</span>
    </div>
    <div class="side-cart-item">
        <div class="quantity">
            <div class="quantity-btn quantity-up"><i class="material-icons">keyboard_arrow_up</i></div>
            <span>1</span>
            <div class="quantity-btn quantity-down"><i class="material-icons">keyboard_arrow_down</i></div>
        </div>
        <div class="image"><img src="../../../assets/images/temp-item-image.png" /></div>
        <div class="price text-blue">$29.99</div>
        <div class="remove"><i class="material-icons">clear</i></div>
    </div>
    <div class="side-cart-item">
        <div class="quantity">
            <div class="quantity-btn quantity-up"><i class="material-icons">keyboard_arrow_up</i></div>
            <span>1</span>
            <div class="quantity-btn quantity-down"><i class="material-icons">keyboard_arrow_down</i></div>
        </div>
        <div class="image"><img src="../../../assets/images/temp-item-image.png" /></div>
        <div class="price text-blue">$29.99</div>
        <div class="remove"><i class="material-icons">clear</i></div>
    </div>
    <div class="cart-title bkg-green text-white">
        <i class="material-icons">attach_money</i>
        <span>Selling</span>
    </div>
    <div class="side-cart-item">
        <div class="quantity">
            <div class="quantity-btn quantity-up"><i class="material-icons">keyboard_arrow_up</i></div>
            <span>1</span>
            <div class="quantity-btn quantity-down"><i class="material-icons">keyboard_arrow_down</i></div>
        </div>
        <div class="image"><img src="../../../assets/images/temp-item-image.png" /></div>
        <div class="price text-green">$29.99</div>
        <div class="remove"><i class="material-icons">clear</i></div>
    </div>
    <div class="grid-container full side-cart-bottom">
        <div class="grid">
            <div class="col-6 cart-buy-subtotal">Buying<br />Subtotal:</div>
            <div class="col-6 grid end middle" id="buy-subtotal">$123.45</div>
            <div class="col-12 divider"><div></div></div>
            <div class="col-6 cart-sell-subtotal">Selling<br />Subtotal:</div>
            <div class="col-6 grid end middle" id="sell-subtotal">$98.76</div>
            <div class="col-12">
                <button class="dark-blue">Keep Shopping</button>
            </div>
            <div class="col-12">
                <button class="green">View Cart & Check Out</button>
            </div>
        </div>
    </div>
</div>