<div class="grid-container mobile-full">
    <div class="grid used-item-container m-b-md">
        <div class="grid col-2 center middle used-item-price">
            $39.99
        </div>
        <div class="grid col-2 middle item-photo">
            <img src="../../../assets/images/temp-item-image.png" />
        </div>
        <div class="grid col item-details">
            <div class="col-4 mobile-full">
                <div class="text-small text-gray">Microsoft</div>
                <h1 class="text-base text-normal">Halo 4 Xbox 360 Deluxe Edition</h1>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Condition:</div>
                <div class="text-base">Very Good</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Sold By:</div>
                <div class="text-base">Replay</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">$39.99 Used</div>
            </div>
        </div>
        <div class="grid col-2 middle item-btns p-l-sm p-r-sm">
            <a href="#" class="button orange">Add To Cart</a>
        </div>
    </div>
</div>

<div class="grid-container mobile-full">
    <div class="grid used-item-container m-b-md">
        <div class="grid col-2 center middle used-item-price">
            $39.99
        </div>
        <div class="grid col-2 middle item-photo">
            <img src="../../../assets/images/temp-item-image.png" />
        </div>
        <div class="grid col item-details">
            <div class="col-4 mobile-full">
                <div class="text-small text-gray">Microsoft</div>
                <h1 class="text-base text-normal">Halo 4 Xbox 360 Deluxe Edition This also has a really long title that won't all be visible</h1>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Condition:</div>
                <div class="text-base">Very Good</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Sold By:</div>
                <div class="text-base">Replay</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">$39.99 Used</div>
            </div>
        </div>
        <div class="grid col-2 middle item-btns p-l-sm p-r-sm">
            <a href="#" class="button orange">Add To Cart</a>
        </div>
    </div>
</div>

<div class="grid-container mobile-full">
    <div class="grid used-item-container m-b-md">
        <div class="grid col-2 center middle used-item-price">
            $39.99
        </div>
        <div class="grid col-2 middle item-photo">
            <img src="../../../assets/images/temp-item-image.png" />
        </div>
        <div class="grid col item-details">
            <div class="col-4 mobile-full">
                <div class="text-small text-gray">Microsoft</div>
                <h1 class="text-base text-normal">Halo 4 Xbox 360 Deluxe Edition This also has a really long title that won't all be visible</h1>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Condition:</div>
                <div class="text-base">Like New</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Sold By:</div>
                <div class="text-base">Replay</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">$39.99 Used</div>
            </div>
        </div>
        <div class="grid col-2 middle item-btns p-l-sm p-r-sm">
            <a href="#" class="button orange">Add To Cart</a>
        </div>
    </div>
</div>

<div class="grid-container mobile-full">
    <div class="grid used-item-container m-b-md">
        <div class="grid col-2 center middle used-item-price">
            $39.99
        </div>
        <div class="grid col-2 middle item-photo">
            <img src="../../../assets/images/temp-item-image.png" />
        </div>
        <div class="grid col item-details">
            <div class="col-4 mobile-full">
                <div class="text-small text-gray">Microsoft</div>
                <h1 class="text-base text-normal">Halo 4 Xbox 360 Deluxe Edition This also has a really long title that won't all be visible</h1>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Condition:</div>
                <div class="text-base">Gently Used</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">Sold By:</div>
                <div class="text-base">Replay</div>
            </div>
            <div class="col-4 mobile-full">
                <div class="text-small text-orange text-upper text-semi">$39.99 Used</div>
            </div>
        </div>
        <div class="grid col-2 middle item-btns p-l-sm p-r-sm">
            <a href="#" class="button orange">Add To Cart</a>
        </div>
    </div>
</div>