<div class="grid-container mobile-full">
    <div class="grid">
        <div class="col-3 item-container">
            <div class="item">
                <div class="item-photos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="item-details">
                    <div class="item-manufacturer">Microsoft</div>
                    <h1>Halo 4 Xbox 360 Deluxe Edition</h1>
                    <div class="item-description">Description will go here to describe this product. This will be a really long description so that we can see how long descriptions will behave.</div>
                    <div class="item-prices">
                        <div class="item-new-price">$59 NEW</div>
                        <div class="item-used-price">$29 USED</div>
                    </div>
                </div>
                <div class="grid-container full item-btns">
                    <div class="grid">
                        <div class="col full">
                            <a href="#" class="btn-sell">Sell</a>
                        </div>
                        <div class="col full">
                            <a href="#" class="btn-buy">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 item-container">
            <div class="item">
                <div class="item-photos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="item-details">
                    <div class="item-manufacturer">Microsoft</div>
                    <h1>Halo 4 Xbox 360 Deluxe Edition</h1>
                    <div class="item-description">Description will go here to describe this product. This will be a really long description so that we can see how long descriptions will behave.</div>
                    <div class="item-prices">
                        <div class="item-new-price">$59 NEW</div>
                        <div class="item-used-price">$29 USED</div>
                    </div>
                </div>
                <div class="grid-container full item-btns">
                    <div class="grid">
                        <div class="col full">
                            <a href="#" class="btn-buy">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 item-container">
            <div class="item">
                <div class="item-photos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="item-details">
                    <div class="item-manufacturer">Microsoft</div>
                    <h1>Halo 4 Xbox 360 Deluxe Edition</h1>
                    <div class="item-description">Description will go here to describe this product. This will be a really long description so that we can see how long descriptions will behave.</div>
                    <div class="item-prices">
                        <div class="item-new-price"></div>
                        <div class="item-used-price"></div>
                    </div>
                </div>
                <div class="grid-container full item-btns">
                    <div class="grid">
                        <div class="col full">
                            <a href="#" class="btn-sell">Sell</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 item-container">
            <div class="item">
                <div class="item-photos">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                        <div class="swiper-slide"><img src="../../../assets/images/temp-item-image-white-bkg.jpg" /></div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="item-details">
                    <div class="item-manufacturer">Microsoft</div>
                    <h1>Halo 4 Xbox 360 Deluxe Edition</h1>
                    <div class="item-description">Description will go here to describe this product. This will be a really long description so that we can see how long descriptions will behave.</div>
                    <div class="item-prices">
                        <div class="item-new-price">$59 NEW</div>
                        <div class="item-used-price">$29 USED</div>
                    </div>
                </div>
                <div class="grid-container full item-btns">
                    <div class="grid">
                        <div class="col full">
                            <a href="#" class="btn-sell">Sell</a>
                        </div>
                        <div class="col full">
                            <a href="#" class="btn-buy">Buy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>