<!--ADD COMPONENTS WHEREVER IN HERE-->

<site-header></site-header>

<h1>
  {{title}}
</h1>


<!-- TEMP SHOWING OF THE GRID -->
<div class="grid-container">
    <h2>Specific Column Sizes</h2>
    <div class="grid">
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-6 block center"><div class="box"><div>.col-6</div></div></div>
        <div class="col-6 block center"><div class="box"><div>.col-6</div></div></div>
        <div class="col-5 block center"><div class="box"><div>.col-5</div></div></div>
        <div class="col-7 block center"><div class="box"><div>.col-7</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-8 block center"><div class="box"><div>.col-8</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-9 block center"><div class="box"><div>.col-9</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-10 block center"><div class="box"><div>.col-10</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-11 block center"><div class="box"><div>.col-11</div></div></div>
        <div class="col-12 block center"><div class="box"><div>.col-12</div></div></div>
    </div>
</div>

<div class="grid-container">
    <h2>Automatic Column Sizes</h2>
    <div class="grid">
        <div class="col block center"><div class="box"><div>.col</div></div></div>
        <div class="col block center"><div class="box"><div>.col</div></div></div>
        <div class="col block center"><div class="box"><div>.col</div></div></div>
    </div>
</div>

<div class="grid-container">
    <h2>Buttons</h2>
    <div class="grid">
        <div class="col-6"><button>Button Element</button></div>
        <div class="col-6"><a href="#" class="button">Anchor .button</a></div>
        <div class="col-6"><button class="green">Button Element</button></div>
        <div class="col-6"><a href="#" class="button green">Anchor .button</a></div>
        <div class="col-6"><button class="dark-blue">Button Element</button></div>
        <div class="col-6"><a href="#" class="button dark-blue">Anchor .button</a></div>
        <div class="col-6"><button class="purple">Button Element</button></div>
        <div class="col-6"><a href="#" class="button purple">Anchor .button</a></div>
        <div class="col-6"><button class="yellow">Button Element</button></div>
        <div class="col-6"><a href="#" class="button yellow">Anchor .button</a></div>
        <div class="col-6"><button class="red">Button Element</button></div>
        <div class="col-6"><a href="#" class="button red">Anchor .button</a></div>
        <div class="col-6"><button class="orange">Button Element</button></div>
        <div class="col-6"><a href="#" class="button orange">Anchor .button</a></div>
    </div>
</div>

<site-footer></site-footer>