<!--ADD COMPONENTS WHEREVER IN HERE-->

<site-header></site-header>

<h1>
  {{title}}
</h1>


<!-- TEMP SHOWING OF THE GRID -->
<h1>Specific Column Sizes</h1>
<div class="grid-container">
    <div class="grid">
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-6 block center"><div class="box"><div>.col-6</div></div></div>
        <div class="col-6 block center"><div class="box"><div>.col-6</div></div></div>
        <div class="col-5 block center"><div class="box"><div>.col-5</div></div></div>
        <div class="col-7 block center"><div class="box"><div>.col-7</div></div></div>
        <div class="col-4 block center"><div class="box"><div>.col-4</div></div></div>
        <div class="col-8 block center"><div class="box"><div>.col-8</div></div></div>
        <div class="col-3 block center"><div class="box"><div>.col-3</div></div></div>
        <div class="col-9 block center"><div class="box"><div>.col-9</div></div></div>
        <div class="col-2 block center"><div class="box"><div>.col-2</div></div></div>
        <div class="col-10 block center"><div class="box"><div>.col-10</div></div></div>
        <div class="col-1 block center"><div class="box"><div>.col-1</div></div></div>
        <div class="col-11 block center"><div class="box"><div>.col-11</div></div></div>
        <div class="col-12 block center"><div class="box"><div>.col-12</div></div></div>
    </div>
</div>

<h1>Automatic Column Sizes</h1>
<div class="grid-container">
    <div class="grid">
        <div class="col block center"><div class="box"><div>.col</div></div></div>
        <div class="col block center"><div class="box"><div>.col</div></div></div>
        <div class="col block center"><div class="box"><div>.col</div></div></div>
    </div>
</div>