@import 'variables';

#categories-bar {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.24);
    position: fixed;
    top: 60px;
    z-index: 99999;
}
#categories-btn {
    font-size: $font-size-sm;
    color: $brand-blue;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 0;
    border-right: 1px solid $gray-lightest;
    cursor: pointer;
}
#categories-btn i {
    color: $brand-blue;
    font-size: 18px;
    vertical-align: middle;
}
#submenu {
    padding: 5px 0 5px 0;
}
#submenu a {
    font-size: $font-size-sm;
    color: $brand-blue-lightest;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 15px;
}
#submenu a:hover {
    color: $green;
}
#subtotal {
    font-size: $font-size-sm;
    color: $gray;
    padding-right: 10px;
}
#subtotal span {
    color: $green;
    font-weight: 600;
}
#checkout-btn {
    background-color: $green;
    color: $white;
    font-size: $font-size-sm;
    text-transform: uppercase;
    cursor: pointer;
}
#checkout-btn:hover {
    background-color: $green-light;
}

@media (max-width: $mobile-breakpoint) {
    #categories-bar {
        height: 0;
        overflow: hidden;
        transition: height .3s ease-in-out;
    }
    #categories-bar.open {
        height: 100vh;
    }
    #categories-btn {
        font-size: 21px;
        font-weight: 600;
        padding: 25px 0;
        border-right: none;
        border-bottom: 1px solid $gray-lightest;
    }
    #categories-btn i {
        display: none;
    }
    #submenu a {
        display: block;
        width: 100%;
        font-size: 21px;
        font-weight: 300;
        padding: 15px 0;
        text-align: center;
    }
    #subtotal {
        display: none;
    }
    #checkout-btn {
        display: none;
    }
}