@import 'variables';
@import 'mixins';

.box.category {
    color: $white;
}
.box.category i {
    font-size: 150px;
}
.box.category h1 {
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 300;
}

.box.green {
    background: $gradient-green;
}
.box.blue {
    background: $gradient-blue;
}
.box.purple {
    background: $gradient-purple;
}
.box.yellow {
    background: $gradient-yellow;
}
.box.orange {
    background: $gradient-orange;
}
.box.red {
    background: $gradient-red;
}

.box.news {
    color: $white;
    overflow: hidden;
}
.box.news .news-item {
    display: block;
    box-sizing: border-box;
    color: $white;
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 1px solid $white;
}
.box.news .news-item:last-child {
    border: none;
}
.box.news .news-item:hover {
    color: $gray-lightest;
}
.box.news .news-item h1 {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 5px;
}
.box.news .news-item p {
    font-size: 14px;
}

.box.twitch {
    @include display-flex();
}
.box.twitch .title {
    background: $gradient-green;
    color: $white;
    width: 30%;
    text-transform: uppercase;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 15px 0 15px;
}
.box.twitch .title h1 {
    font-size: 68px;
}
.box.twitch .title .divider {
    height: 2px;
    width: 25%;
    margin: 10px 0 15px 0;
    background-color: $white;
}
.box.twitch .title span {
    font-size: 33px;
}
.box.twitch .channels {
    width: 70%;
    height: 100%;
    position: relative;
}
.box.twitch .channels img {
    width: 80%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/* New Category Blocks */
.block.category {
}
.block.category .box {
    padding: 0;
}
.block.category .title {
    @include display-flex();
    color: $white;
    width: 100%;
    min-height: 20%;
}
.block.category .title i {
    font-size: 50px;
    vertical-align: middle;
    margin: 0 6px;
}
.block.category .title h1 {
    display: inline-block;
    font-size: $font-size-lg;
    text-transform: uppercase;
    font-weight: 300;
    vertical-align: middle;
    margin: 0 6px;
}

.block.category .title.green {
    background: $gradient-green;
}
.block.category .title.blue {
    background: $gradient-blue;
}
.block.category .title.purple {
    background: $gradient-purple;
}
.block.category .title.yellow {
    background: $gradient-yellow;
}
.block.category .title.orange {
    background: $gradient-orange;
}
.block.category .title.red {
    background: $gradient-red;
}

.block.category .category-list {
    @include display-flex();
    width: 100%;
    height: 80%;
    position: relative;
    transform: initial;
    top: initial;
    left: initial;
}
.block.category .category-list a {
    color: $brand-blue;
    display: block;
    width: 40%;
    margin: 5% 5%;
    text-align: left;
    text-transform: uppercase;
}
.block.category .category-list a i {
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
}
.block.category .category-list a:hover {
    text-decoration: underline;
}