
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .text-bold {
    font-weight: 700;
}

h1, .h1 { font-size: 6.94vw; }
h2, .h2 { font-size: 33px; }
h3, .h3 { font-size: 31px; }
h4, .h4 { font-size: 28px; }
h5, .h5 { font-size: 20px; }
h6, .h6 { font-size: $font-size-base; }

h1.product, .h1.product { font-size: $font-size-base; }

.text-semi { font-weight: 600; }

.text-normal { font-weight: 400; }

.text-small {
    font-size: $font-size-sm;
}

.text-base {
    font-size: $font-size-base;
}

.text-xlarge {
    font-size: $font-size-lg;
}

.text-large {
    font-size: $font-size-xlg;
}

.text-white {
    color: $white;
}
.text-gray {
    color: $gray;
}
.text-blue {
    color: $blue;
}
.text-green {
    color: $green;
}
.text-orange {
    color: $orange;
}

.text-upper {
    text-transform: uppercase;
}