
<header class="grid-container full">
    <div class="grid">
        <div class="col-1 full" id="replay-logo-menu">
            <div id="mobile-menu-icon"><div id="nav-icon"><span></span><span></span><span></span><span></span></div></div>
            <a href="/"><img src="../../../assets/images/logo-replay.svg" /></a>
        </div>
        <div class="col-9 full" id="replay-search">
            <input type="text" id="search" />
            <label for="search">
                <i class="material-icons">search</i>
                <span>Type to search</span> <span>for games, phones, electronics...</span>
            </label>
            <button id="mobile-search-cancel" class="mobile-cancel-button full-height">Cancel</button>
        </div>
        <div class="col-2 end grid full" id="header-account">
            <button id="mobile-search-icon" class="col"><i class="material-icons">search</i></button>
            <button class="col full"><i class="material-icons">notifications</i><span>1</span></button>
            <button class="col full"><i class="material-icons">people</i><span>2</span></button>
            <button class="col full"><i class="material-icons">person</i><span>3</span></button>
            <button class="col full" id="cart-icon"><i class="material-icons">shopping_cart</i><span>4</span></button>
        </div>
    </div>
</header>