
<div class="grid-container full bkg-white" id="filters-bar">
    <div class="grid">
        <div class="col-1 grid full center middle" id="filters-title">
            Filter By:
        </div>
        <div class="col-10 grid full middle" id="filters-container">
            <div class="filter-container">
                <button>Filter Name<i class="material-icons">keyboard_arrow_down</i></button>
                <div class="filters">
                    <div class="filter">
                        <input type="checkbox" id="1-1">
                        <label for="1-1">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="1-2">
                        <label for="1-2">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="1-3">
                        <label for="1-3">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="1-4">
                        <label for="1-4">Specific Filter Goes Here</label>
                    </div>
                </div>
            </div>
            <div class="filter-container">
                <button>Filter Name<i class="material-icons">keyboard_arrow_down</i></button>
                <div class="filters">
                    <div class="filter">
                        <input type="checkbox" id="2-1">
                        <label for="2-1">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="2-2">
                        <label for="2-2">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="2-3">
                        <label for="2-3">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="2-4">
                        <label for="2-4">Specific Filter Goes Here</label>
                    </div>
                </div>
            </div>
            <div class="filter-container">
                <button>Longer Filter Name<i class="material-icons">keyboard_arrow_down</i></button>
                <div class="filters">
                    <div class="filter">
                        <input type="checkbox" id="3-1">
                        <label for="3-1">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="3-2">
                        <label for="3-2">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="3-3">
                        <label for="3-3">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="3-4">
                        <label for="3-4">Specific Filter Goes Here</label>
                    </div>
                </div>
            </div>
            <div class="filter-container">
                <button>Filter Name<i class="material-icons">keyboard_arrow_down</i></button>
                <div class="filters">
                    <div class="filter">
                        <input type="checkbox" id="4-1">
                        <label for="4-1">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-2">
                        <label for="4-2">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-3">
                        <label for="4-3">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-4">
                        <label for="4-4">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-5">
                        <label for="4-5">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-6">
                        <label for="4-6">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-7">
                        <label for="4-7">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-8">
                        <label for="4-8">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-9">
                        <label for="4-9">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-10">
                        <label for="4-10">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-11">
                        <label for="4-11">Specific Filter Goes Here</label>
                    </div>
                    <div class="filter">
                        <input type="checkbox" id="4-12">
                        <label for="4-12">Specific Filter Goes Here</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 grid full center middle" id="reset-filters-btn">
            <i class="material-icons">refresh</i>Reset Filters
        </div>
    </div>
    <div class="grid full center middle open" id="selected-filters-container">
        <div class="selected-filter">
            <span class="remove-filter"><i class="material-icons">close</i></span><span class="filter-name">Filter Name</span>
        </div>
        <div class="selected-filter">
            <span class="remove-filter"><i class="material-icons">close</i></span><span class="filter-name">Filter Name</span>
        </div>
        <div class="selected-filter">
            <span class="remove-filter"><i class="material-icons">close</i></span><span class="filter-name">Filter Name</span>
        </div>
        <div class="selected-filter">
            <span class="remove-filter"><i class="material-icons">close</i></span><span class="filter-name">Filter Name</span>
        </div>
    </div>
</div>