
<div class="grid-container full bkg-white" id="categories-bar">
    <div class="grid">
        <div class="col-1 full center middle" id="categories-btn">
            Categories<i class="material-icons">keyboard_arrow_down</i>
        </div>
        <div class="col-5 full middle" id="submenu">
            <a href="#" title="Deals">Deals</a>
            <a href="#" title="Buy">Buy</a>
            <a href="#" title="Sell">Sell</a>
            <a href="#" title="Trade">Trade</a>
        </div>
        <div class="col-5 end grid full middle" id="subtotal">
            Cart Subtotal:&nbsp;<span>$19.99</span>
        </div>
        <div class="col-1 grid full center middle" id="checkout-btn">
            Checkout
        </div>
    </div>
</div>