
<div class="grid-container mobile-full p-t-md p-b-md">
    <div class="grid">
        <div class="col-8 mobile-full" id="checkout-forms-container">
            <div class="form-container active">
                <div class="title-bar">Shipping Address <i class="material-icons">keyboard_arrow_down</i></div>
                <form class="grid">
                    <div class="col-12">
                        <div class="input-group">
                            <input id="full-name" type="text" />
                            <label for="full-name">Full Name</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input id="phone-number" type="text" />
                            <label for="phone-number">Phone Number</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input id="shipping-address-1" type="text" />
                            <label for="shipping-address-1">Shipping Street Address</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input id="city" type="text" />
                            <label for="city">City</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input id="State" type="text" />
                            <label for="State">State</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            <input id="Zip" type="text" />
                            <label for="Zip">Zip</label>
                        </div>
                    </div>
                    <div class="col-12 p-t-sm p-b-sm">
                        <button>Save & Continue</button>
                    </div>
                </form>
            </div>
            <div class="form-container">
                <div class="title-bar">Payment Method <i class="material-icons">keyboard_arrow_down</i></div>
                <form class="grid">
                    <div class="col-12">
                        <div class="input-group">
                            <input id="card-number" type="text" />
                            <label for="card-number">Card Number</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input id="name-on-card" type="text" />
                            <label for="name-on-card">Name On Card</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input id="expiration-date" type="text" />
                            <label for="expiration-date">Expiration Date</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group">
                            <input id="security-code" type="text" />
                            <label for="security-code">Security Code</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group checkbox">
                            <input id="same-billing" type="checkbox">
                            <label for="same-billing">Billing address is same as shipping address</label>
                        </div>
                    </div>
                    <div class="col-12 p-t-sm p-b-sm">
                        <button>Save & Continue</button>
                    </div>
                    <div class="col-12">
                        All major cards accepted.
                    </div>
                </form>
            </div>
            <div class="form-container">
                <div class="title-bar">Shipping Method <i class="material-icons">keyboard_arrow_down</i></div>
                <form class="grid">
                    <button class="grid shipping-btn active">
                        <div class="col-9 start">
                            Free Shipping (USPS Ground 3-5 business days)
                        </div>
                        <div class="col-3 end">
                            FREE
                        </div>
                    </button>
                    <button class="grid shipping-btn">
                        <div class="col-9 start">
                            Two Day (FedEx 2 Day Shipping)
                        </div>
                        <div class="col-3 end">
                            $4.99
                        </div>
                    </button>
                    <button class="grid shipping-btn">
                        <div class="col-9 start">
                            FedEx Next Day (Delivered Next Business Day)
                        </div>
                        <div class="col-3 end">
                            $18.95
                        </div>
                    </button>
                    <div class="col-12 p-t-sm p-b-sm">
                        <button>Save & Continue</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4 mobile-full" id="checkout-data-container">
            <div class="data-container bkg-white">
                <div class="title-bar"><i class="material-icons">shopping_cart</i> Buying</div>
            </div>
            <div class="data-container grid bkg-white p-t-sm p-b-sm">
                <div class="col-6">Subtotal</div><div class="col-6 end">$176.99</div>
                <div class="col-6">Shipping Fee</div><div class="col-6 end">$5.99</div>
                <div class="col-6">Estimated Tax</div><div class="col-6 end">$0.00</div>
            </div>
            <div class="data-container grid bkg-gray-lightest">
                <div class="col-6 text-blue text-bold text-upper">Order<br />Total:</div><div class="col-6 end text-blue text-large">$182.98</div>
                <div class="col-12"><button>Place Order</button></div>
                <div class="col-12 text-gray text-small">By placing this order, you agree to our terms of service and all other legal jargon.</div>
            </div>
        </div>
    </div>
</div>